<!--The content below is only a placeholder and can be replaced.-->
<h1>Convertir Arabigo a Romano</h1>
<form #convertirForm="ngForm" (ngSubmit)="convertirForm.valid && onSubmit(convertirForm)">
  <input type="text" #name="ngModel" [(ngModel)]="RomainNumeralsService.numero" name="numero" placeholder="numero" required [ngClass]="{'invalid-textbox' :convertirForm.submitted && !numero.valid }">
  <div *ngIf="convertirForm.submitted && !numero.valid">
      <label class="validation-message"></label>
  </div>
  <input type="submit" value="Convertir">
</form>
